<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Curvy Coming Soon Template</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/templatemo-style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <!-- 
        Curvy Soon Template 
        https://templatemo.com/tm-435-curvy-soon
        -->
	</head>
	<body>

		<!-- start countdown timer -->
			<div id="countdown" class="text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h1>We are launching new website...</h1>
							<h2>Curvy Soon</h2>
							<p>This is a Coming Soon CSS Template using a countdown timer by <span class="blue">template</span><span class="green">mo</span>. You can download, modify and use this simple HTML layout. Please tell your friends about our website. Thank you.</p>
								<ul class="countdown">
									<li>
										<span class="days">01</span>
										<h3>days</h3>
									</li>
									<li>
										<span class="hours">02</span>
										<h3>hours</h3>
									</li>
									<li>
										<span class="minutes">03</span>
										<h3>minutes</h3>
									</li>
									<li>
										<span class="seconds">40</span>
										<h3>seconds</h3>
									</li>
								</ul>
						</div>
					</div>
				</div>
			</div>
		<!-- end countdown timer -->

		<!-- start divider -->
			<div id="divider">
				<div class="container">
                	<div class="row text-center">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h1>What We Do</h1>
                            <p>We provide a variety of digital media and web design services for your business.</p>
                            <br>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="media">
								<div class="media-object pull-left"><i class="fa fa-mobile"></i></div>
									<div class="media-body">
										<h2 class="media-heading">New CSS Blog</h2>
										<p>Please take a look at <a rel="nofollow" href="https://www.toocss.com">Too CSS</a> to see newest collections of free Bootstrap templates for your websites.</p>
									</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="media">
								<div class="media-object pull-left"><i class="fa fa-font"></i></div>
									<div class="media-body">
										<h2 class="media-heading">Simple Font Style</h2>
										<p>Morbi quis neque et eros vestibulum pellentesque vel at risus. Nunc purus nulla, viverra non sodales vel, mollis nec purus.</p>
									</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="media">
								<div class="media-object pull-left"><i class="fa fa-thumbs-up"></i></div>
									<div class="media-body">
										<h2 class="media-heading">Social Media</h2>
										<p>Nam venenatis libero augue, nec sollicitudin sem scelerisque non. Pellentesque tristique tellus dapibus, fringilla ex quis, elementum velit.</p>
									</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="media">
								<div class="media-object pull-left"><i class="fa fa-comment"></i></div>
									<div class="media-body">
										<h2 class="media-heading">Quick Support</h2>
										<p>In lectus lacus, pellentesque <a href="#">convallis</a> venenatis ut, maximus quis felis. Nunc eget accumsan purus, non congue sem.</p>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- end divider -->
		
		<!-- start team -->
			<div id="team" class="text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<h2>We are a small team!</h2>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<img src="images/team_img_1.jpg" class="img-circle img-responsive" alt="team">
							<h3>Tracy</h3>
							<h4>Designer</h4>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<img src="images/team_img_2.jpg" class="img-circle img-responsive" alt="team">
							<h3>Mary</h3>
							<h4>Developer</h4>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<img src="images/team_img_3.jpg" class="img-circle img-responsive" alt="team">
							<h3>Julia</h3>
							<h4>Director</h4>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<img src="images/team_img_4.jpg" class="img-circle img-responsive" alt="team">
							<h3>Linda</h3>
							<h4>Manager</h4>
						</div>
					</div>
				</div>
			</div>
		<!-- end team -->

		<!-- start contact -->
			<div id="contact" class="text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h2>Get ready to be notified!</h2>
							<form action="#" method="post">
								<div class="col-md-2"></div>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-md-2">
									<input type="submit" class="form-control" value="SEND">
								</div>
								<div class="col-md-12"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		<!-- end contact -->

		<!-- start footer -->
			<footer class="text-center">
				<div class="container">
					<div class="row">
						<span class="social_icon">
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-linkedin"></a>
							<a href="#" class="fa fa-google-plus"></a>
						</span>
						<p>Copyright © 2084 Your Company Name</p>
					</div>
				</div>
			</footer>
		<!-- end footer -->

		<!-- start js -->
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/countdown.js"></script>
		<script src="js/init.js"></script>
		<!-- end js -->

	</body>
</html>